body {
    margin: 80px;
    background-color: rgb(134, 94, 220);
    background-image: url(https://images.unsplash.com/photo-1629729802306-2c196af7eef5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1160&q=80);
    background-blend-mode: lighten;
    background-size: cover;
    min-width: 320px;
    justify-content: center;
    align-items: center;
    opacity: 90%;

}
header {
    font-family: Tahoma;
    font-size: 5fr;
    color: rgb(223, 216, 236);
    background-color: rgb(84, 44, 228);
    text-align: center;
    width: 30px auto;
    height: 50px;
    margin-right: auto;
    justify-content: space-around;
    border-radius: 5px;
    
}

.boxes-container {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    width: 306px;
    margin: 50px auto;
    grid-gap: 4px;
    grid-column-gap: 8px;
}
.boxes-container .boxes {
    border: 2px solid rgb(229, 198, 245);
    border-radius: 20px;
    background-color: rgb(148, 53, 237);
    height: 100px;
    width: 100px; 
    cursor: pointer;
    margin: auto;
    font-size: 5rem;
    color: aliceblue;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}
h2 {
    margin-top: 2px ;
    color: antiquewhite;
    text-shadow: rgb(61, 6, 112) 10%;
    opacity: 100%;
}
footer {
    margin-left: 34% auto;
    font-size: 1rem;
    font-family: sc, sans-serif;
}
article {
   background-color: blueviolet;
    margin-bottom: 5px;
    width: 20px auto;
    height: 50px;
    border: 1px solid blueviolet;
    border-radius: 3px;
    font-size: 2rem;
    color: rgb(220, 182, 247);
    font-family: tahoma;
    text-align: center;
    text-shadow: black;
    
    
}
button {
    background-color: rgba(61, 6, 112, 0.514);
    color: white;
    padding: 3px;
    margin-top: 7px;
    border-radius: 5px;
    font-size: 1rem;
    
}


